BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 150
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
AllowShortIfStatementsOnASingleLine: false