Release/*
.ino.cpp
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio/
.vscode/
config.h
mySetup.cpp
myHal.cpp
myFilter.cpp
my*.h
!my*.example.h
compile_commands.json
newcode.txt.old
UserAddin.txt
